.icon {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: white;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    box-sizing: border-box;
    justify-items: flex-start;
    padding: 8px 16px 8px 16px;
}

.win-logotype {
    content: url(/files/logo-windows.svg);
}

.header__win-logotype {
    margin-right: 16px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-items: flex-start;
    height: 100%;
    width: 100%;
}

@media (min-width: 1921px) {
    .wrapper {
        align-self: center;
        max-width: 1920px;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
    flex-basis: auto;
    width: 48px;
    height: 100%;
    box-sizing: border-box;
    padding: 8px 0px 0px 8px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.3);
    border-top-left-radius: 8px;
    flex-shrink: 0;
    transition: width 0.3s ease-in-out;
}

.menu:hover {
    width: 200px;
    transition: width 0.15s ease-in-out;
}

@media (min-width: 1200px){
    .menu {
        width: 200px;
    }
}

.menu__item {
    display: flex;
    align-items: center;
    justify-items: flex-start;
    cursor: pointer;
    width: 100%;
    flex-shrink: 0;
    margin-bottom: 16px;
    background-color: rgba(0, 0, 0, 0);
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    transition: background-color 0.15s ease-in;
}

.menu__item:hover {
    background-color: rgba(0, 0, 0, 0.3);
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    transition: background-color 0.15s ease-in;
}

.menu__item_active {
    background-color: rgba(0, 0, 0, 0.3);
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    cursor: auto;
}

.icon {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    flex-shrink: 0;
}

.icon_ {

}

.menu__icon {
    margin-right: 8px;
}

.menu__title {
    font-weight: 400;
    color: white;
    flex-shrink: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.content {
    box-sizing: border-box;
    padding: 16px 24px 0px 16px;
    flex-grow: 1;
    background-color: white;
}

.nav {
    display: flex;
    height: 24px;
    margin-bottom: 16px;
}

.nav__item {
    font-weight: 500;
    margin-right: 16px;
    cursor: pointer;
    color: rgb(94, 94, 94);
}

.nav__item_active {
    color: rgb(49, 110, 180);
    cursor: auto;
}

.text-feed {
    max-width: 880px;
}

.menu_mobile {
    content: "";
    position: fixed;
    bottom: -48px;
    left: 0px;
    right: 0px;
    height: 48px;
    background-color: rgb(255, 255, 255);
    box-shadow: -2px 0px 16px rgba(0, 0, 0, 0.178);
    visibility: hidden;
    transition: all 0.15s ease-in;
}

.sidebar {
    content: "";
    height: 100%;
    width: 320px;
    border-left: 1px solid #cccccc;
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 8px;
    flex-shrink: 0;
    padding: 16px;
}

@media (max-width: 1024px) {
    .sidebar {
        display: none;
    }
}

@media (max-width:480px) {
    .menu {
        display:none;
    }

    .menu_mobile {
        visibility: visible;
        bottom: 0px;
        transition: all 0.15s ease-in;
    }

    .content {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
}