/* Global variable */

:root {
    /* Colors */
    --color-snow: white;
    --color-graphite: #474747;
    --color-cloud: #cccccc;
    --color-water: #cfe4fa;
    --color-sky: #4180c0;
}


/* Base styles */

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    --webkit-font-smoothing: antialised;
    height: 100%;
    overflow: hidden;
}

h1,
h2,
h3,
p {
    margin-bottom: 8px;
}

h1 {
    font-size: 24px;
    font-weight: 400;
}

h2 {
    font-size: 18px;
    font-weight: 400;
}

h3 {
    font-size: 16px;
    font-weight: 500;
}

p {
    font-size: 14px;
    line-height: 20px;
}


/* Components */

.icon {
    width: 24px;
    height: 24px;
}

.icon path {
    fill: var(--color-snow);
}

.header {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-items: flex-start;
    justify-content: stretch;
    padding: 8px 16px 8px 16px;
    width: 100%;
}

.logotype path {
    fill: var(--color-snow);
}

.header__logotype {
    margin-right: 16px;
}

.wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-items: flex-start;
    width: 100%;
}

@media (min-width: 1921px) {
    .wrapper {
        align-self: center;
        max-width: 1920px;
    }
}

.menu {
    align-items: flex-start;
    background: linear-gradient(to top, rgba(255, 255, 255, .1), rgba(255, 255, 255, .3));
    border-top-left-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-right: none;
    border-bottom: none;
    box-sizing: border-box;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    height: 100%;
    justify-items: flex-start;
    overflow: hidden;
    padding: 8px 0 0 8px;
    transition: width 0.3s ease-in-out;
    width: 48px;
}

.menu:hover {
    transition: width 0.15s ease-in-out;
    width: 200px;
}

@media (min-width: 1200px) {
    .menu {
        width: 200px;
    }
}

.menu__icon {
    box-sizing: 32px;
    padding: 4px;
    margin-right: 8px;
}

.menu__item {
    position: relative;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    justify-items: flex-start;
    margin-bottom: 16px;
    transition: all .15s ease-in;
    width: 100%;
}

.menu__item_active::before {
    content: url(/files/pad_element.svg);
    position: absolute;
    right: 0;
    top: -8px;
}

.menu__item:hover {
    background-color: var(--color-snow);
    color: var(--color-graphite);
    transition: all .15s ease-in;
}

.menu__item:hover .menu__title {
    color: var(--color-sky);
    transition: all .15s ease-in;
}

.menu__item:hover .icon path {
    fill: var(--color-sky);
    transition: all .15s ease-in;
}

.menu__item_active {
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
    cursor: auto;
}

.menu__item_active .icon path {
    fill: var(--color-graphite);
}

.menu__item_active .menu__title {
    color: var(--color-graphite);
}

.menu__title {
    font-weight: 400;
    color: var(--color-snow);
    flex-shrink: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.content {
    background-color: var(--color-snow);
    box-sizing: border-box;
    color: var(--color-graphite);
    flex-grow: 1;
    height: 100%;
    overflow: auto;
    padding: 16px 16px 0 16px;
}

.content::-webkit-scrollbar {
    opacity: 100;
}

.scroller {
    overflow: auto;
}

.nav {
    display: flex;
    border-bottom: 1px solid var(--color-cloud);
    box-sizing: border-box;
    display: flex;
    height: 32px;
    margin-bottom: 16px;
}

.nav__item {
    box-sizing: border-box;
    color: var(--color-cloud);
    font-weight: 500;
    height: 32px;
    margin-right: 16px;
    white-space: nowrap;
    cursor: pointer;
}

.nav__item:hover {
    color: var(--color-sky);
}

.nav__item_active {
    border-bottom: 2px solid var(--color-sky);
    color: var(--color-sky);
    cursor: default;
}

.text-feed {
    margin-bottom: 24px;
    max-width: 880px;
}

.text-feed:last-child {
    margin-bottom: 120px;
}

.menu_mobile {
    background-color: var(--color-snow);
    box-shadow: -2px 0px 16px rgba(0, 0, 0, .178);
    bottom: -48px;
    content: "";
    height: 48px;
    left: 0;
    position: fixed;
    right: 0;
    transition: all .15s ease-in;
    visibility: hidden;
    z-index: 100;
}

.sidebar {
    background-color: var(--color-snow);
    border-left: 1px solid var(--color-cloud);
    border-top-right-radius: 8px;
    flex-shrink: 0;
    height: 100%;
    overflow: auto;
    padding: 16px;
    width: 320px;
}

.sidebar::-webkit-scrollbar {
    opacity: 100;
}

@media (max-width: 1024px) {
    .sidebar {
        display: none;
    }
}


/* Mobile */

@media (max-width:480px) {
    .menu {
        display: none;
    }
    .menu_mobile {
        bottom: 0;
        transition: all .15s ease-in;
        visibility: visible;
    }
    .content {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    .table {
        overflow: auto;
    }
}


/* TODO: Переделать таблицу с флексов в гридс */

.table {
    display: flex;
    flex-direction: column;
}

.table_head {
    overflow: auto;
    display: flex;
    background-color: var(--color-snow);
}

.rows {
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin-bottom: 8px;
}

.table__row {
    border-bottom: 1px solid var(--color-water);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
}

.table__row:last-child {
    border-bottom: none;
}

.table__row:hover {
    background-color: var(--color-water);
    border-radius: 4px;
}

.table__cell {
    height: 32px;
    margin-right: 8px;
}

.table__cell_icon {
    box-sizing: border-box;
    padding: 4px;
}

.table__cell_icon .icon {
    background-color: var(--color-water);
    border-radius: 50%;
}

.table__cell_text {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 200;
    max-width: 160px;
    min-width: 128px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pagination {
    background-color: var(--color-snow);
    bottom: 0;
    display: flex;
    box-sizing: border-box;
    height: 48px;
    left: 0;
    margin-bottom: 16px;
    overflow: auto;
    position: sticky;
    position: -webkit-sticky;
    padding: 8px 8px 8px 4px;
}

.pagination__pad {
    align-items: center;
    border: 1px solid var(--color-water);
    border-right: none;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    height: 32px;
    width: 32px;
}

.pagination__pad:hover {
    border-color: var(--color-water);
    background-color: var(--color-water);
    cursor: pointer;
}

.pagination__pad:hover .pagination__title {
    color: var(--color-snow);
}

.pagination__pad:first-child {
    border-radius: 2px 0 0 2px;
}

.pagination__pad:last-child {
    border-right: 1px solid var(--color-cloud);
    border-radius: 0 2px 2px 0;
}

.pagination__pad_active {
    border-color: var(--color-water);
    background-color: var(--color-water);
}

.pagination__pad_active .pagination__title {
    color: var(--color-snow);
}

.pagination__title {
    align-items: center;
    color: var(--color-sky);
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}

.bg {
    position: absolute;
    z-index: -1;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: url(/files/bg-big.jpg) no-repeat center;
    background-size: cover;
}